/**
 * app-type-list 类别列表组件样式
 * v22.11.14
 */

.app-type-list {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--el-border-color);
}

.app-type-list-header {
    padding-right: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--el-border-color); */
}

.app-type-list-header .app-search {
    width: 180px;
}

.app-type-list-header__len {
    margin-left: 8px;
}

.app-type-list-body {
    flex: 1;
    overflow: hidden;
}

.app-type-list-footer {
    /* border-top: 1px solid var(--el-border-color); */
    padding: 15px;
    box-sizing: border-box;
}

.app-type-list__item {
    position: relative;
    padding: 8px 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.app-type-list__item span:last-child {
    font-size: 12px;
    margin-top: 5px;
    color: var(--el-text-color-secondary);
}

.app-type-list__item.is-active span,
.app-type-list__item:hover span {
    color: var(--el-color-primary);
}

.app-type-list__item.is-active {
    color: var(--el-color-primary);
    background-color: var(--el-color-primary-light-9);
}

.app-type-list__item.is-active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--el-color-primary);
    border-radius: 3px;
}
